# moderator permissions
access_level echo moderator
access_level broadcast moderator
access_level say moderator
access_level mutes moderator
access_level mute moderator
access_level muteid moderator
access_level muteip moderator
access_level unmute moderator
access_level unmuteip moderator
access_level vote_mutes moderator
access_level vote_mute moderator
access_level vote_unmute moderator
access_level logout moderator
access_level vote moderator
# access_level force_vote moderator
access_level unban moderator
access_level kick moderator
access_level ban moderator
access_level bans moderator
access_level name_ban moderator
access_level name_unban moderator
access_level name_bans moderator
access_level status moderator
access_level set_team moderator
access_level set_team_all moderator
access_level restart moderator
access_level reload moderator
access_level shutdown moderator
access_level shuffle_teams moderator
access_level access_status moderator
access_level sv_player_ready_mode moderator
access_level sv_force_ready_all moderator
access_level sv_countdown_unpause moderator
access_level sv_countdown_round_start moderator
access_level sv_spectator_slots moderator
access_level sv_scorelimit moderator
access_level sv_tournament_chat moderator
access_level sv_tournament_chat_smart moderator
access_level sv_timelimit moderator
access_level swap_teams moderator
access_level swap_teams_random moderator
access_level sv_force_ready_all moderator
access_level pause_game moderator
access_level force_ready moderator
access_level sv_map moderator
access_level change_map moderator
access_level chat moderator
access_level dump_antibot moderator
access_level password moderator
access_level sv_tournament_join_msgs moderator
